/* NOTE [COLOR](url) */ 
.cm-s-obsidian .cm-formatting-link,
.cm-s-obsidian .cm-link {
  color: var(--text-link);
}

/* NOTE [title](COLOR) */ 
.cm-s-obsidian .cm-formatting-link-string,
.cm-s-obsidian .cm-url {
  color: var(--text-link);
}

/* NOTE [[COLOR]] */ 
.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--text-link);
}