/* NOTE Heading/Indent Fold Markers */
.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator {
    color: var(--text-accent) !important;
}

/* NOTE Line Number */
.CodeMirror-code,
.CodeMirror-linenumber,
.cm-formatting {
    font-family: var(--default-font) !important;
    font-size: .85em;
}