# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# NodeJS
node_modules/