/*=================================================================================
Inspired by Horizon VSCode Theme: https://horizontheme.netlify.app/
tylernguyen@GitHub
damnthattelevision.com
==================================================================================*/

@font-face {
    font-family: 'Fira Code';
    src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Regular.woff') format('woff'),
         url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf') format('truetype');
}

:root {
    --font-size-normal:              16px;
    --font-size-code:                15px;
    --font-size-side-dock:           15px;
    --font-size-side-dock-title:     18px;
    --font-size-status-bar:          12px;
    --font-size-h1:                  25px;
    --font-size-h2:                  21px;
    --font-size-h3:                  18px;
    --font-size-h4:                  16px;
    --font-size-h5:                  14px;
    --font-size-h6:                  14px;

    --dark0:#1C1E26;
    --dark1:#1A1C23;
    --dark2:#16161C;
    --dark3:#232530;
    --dark4:#2E303E;

    --light0:#FDF0ED;
    --light1:#F6F4EA;

    --red:    #E95678;
    --green:  #689d6a;
    --yellow: #fff27d;
    --blue:   #25B2BC;
    --purple: #b16286;
    --aqua:   #1EAEAE;
    --orange: #EE64AE;
}

.theme-dark {
    --font-monospace: 'Fira Code';
    --background-primary:         var(--dark1);
    --background-primary-alt:     var(--dark1);
    --background-secondary:       var(--dark0);
    --background-secondary-alt:   var(--dark2);
    --background-modifier-border: var(--dark4);
    --text-accent:                var(--red);
    --text-normal:                var(--light0);
    --text-faint:                 var(--light1);
    --text-highlight-bg:          var(--dark1);
    --text-title-h1:              var(--red);
    --text-title-h2:              var(--yellow);
    --text-title-h3:              var(--yellow);
    --text-title-h4:              var(--yellow);
    --text-title-h5:              var(--yellow);
    --text-link:                  var(--blue);
    --text-mark:                  var(--yellow);
    --text-selection:             var(--dark3);
    --interactive-accent:         var(--red);
    --interactive-before:         var(--yellow);
    --inline-code:                var(--blue);
    --pre-code:                   var(--dark2);
    --code-block:                 var(--blue);
    --vim-cursor:                 var(--orange);
}

.theme-dark code[class*="language-"], 
.theme-dark pre[class*="language-"] {
    text-shadow: none !important;
    background-color: var(--pre-code) !important;
}

html,
body {
    font-size: 16px !important;
    font-family: var(--font-monospace); 
}

strong {
    font-weight: 600 !important;
}

/*=========================================
TAGS
==========================================*/

/* Preview Tag Color */
a.tag {
  color: var(--green) !important;
}

/* Preview Tag Color While Hovering */
a.tag:hover {
  color: var(--yellow) !important;
}

a.external-link {
    color: var(--green) !important;
    text-decoration: none !important;
}

a:hover,
a.external-link:hover {
    color: var(--yellow) !important;
    text-decoration: none !important;
}

a,
.cm-hmd-internal-link {
    color: var(--green) !important;
    text-decoration: none !important;
}

/* Color of Text While Hovering */
a:hover,
.cm-hmd-internal-link:hover {
    color: var(--yellow) !important;
    text-decoration: none !important;
}

mark {
    background-color: var(--text-mark) !important;
    color: var(--dark0) !important;
}

.view-actions a {
    color: var(--text-normal) !important;
}

.view-actions a:hover {
    color: var(--text-accent) !important;
}

th {
    font-weight: 600 !important;
}

thead {
    border-bottom: 2px solid var(--background-modifier-border) !important;
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator {
    color: var(--text-accent) !important;
}

.nav-file-tag {
    color: var(--text-accent) !important;
}

.is-active .nav-file-title {
    color: var(--text-accent) !important;
    background-color: var(--background-primary-alt) !important;
}

.nav-file-title {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.CodeMirror-code,
.CodeMirror-linenumber,
.cm-formatting {
    font-family: var(--font-monospace) !important;
    font-size: .85em;
}

.markdown-preview-section pre code,
.markdown-preview-section code {
    font-size: 0.9em !important;
    background-color: var(--pre-code) !important;
}

.markdown-preview-section pre code {
    padding: 4px !important;
    line-height: 1.4em !important;
    display: block !important;
    color: var(--code-block) !important;
}

.markdown-preview-section code {
    color: var(--inline-code) !important;
}

.cm-s-obsidian,
.cm-inline-code {
    -webkit-font-smoothing: auto !important;
}

.cm-inline-code {
    color: var(--inline-code) !important;
    background-color: var(--pre-code) !important;
    padding: 1px !important;
}

.workspace-leaf-header-title {
    font-weight: 600 !important;
}

.side-dock-title {
    padding-top: 15px !important;
    font-size: var(--font-size-side-dock-title) !important;
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover {
    color: var(--text-accent);
}

.side-dock {
    border-right: 0 !important;
}

.cm-s-obsidian, .markdown-preview-view {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.markdown-embed-title {
    font-weight: 600 !important;
}

.markdown-embed {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mermaid .note {
    fill: var(--dark3) !important;
}

/* normal text outside of headings and code of editor */
.cm-s-obsidian, 
.mod-single-child .cm-s-obsidian {
    font-size: var(--font-size-normal);
}

/* normal text outside of headings and code of preview */
.markdown-preview-view, 
.mod-single-child .markdown-preview-view {
    font-size: var(--font-size-normal);
}

/* Preview Padding Too Small */
.theme-dark .markdown-preview-view, 
.theme-dark .mod-single-child .markdown-preview-view {
    font-size: var(--font-size-normal);
}

/* Editor CodeBlock TEXT Appearance */
.cm-s-obsidian pre.HyperMD-codeblock {
  font-size: var(--font-size-code) !important;
}

.search-result-file-matches, .search-empty-state {
  font-size: var(--font-size-side-dock);
}

.workspace-leaf-content[data-type="tag"] .tag-pane-tag-count, 
.workspace-leaf-content[data-type="tag"] .tag-pane-tag-text {  
  font-size: var(--font-size-side-dock);
}

.workspace-leaf-content[data-type="backlink"] .search-result-file-matches {
  font-size: var(--font-size-side-dock);
}

/* Search Result in Backlink or File Search */
.search-result-file-title {  
  font-size: var(--font-size-side-dock-title) ;
}

/* Status Bar */
.status-bar {
  font-size: var(--font-size-status-bar);
}

.suggestion-item.is-selected {
    background-color: var(--background-secondary);
}

.empty-state-container:hover
{
    background-color: var(--background-secondary-alt);
    border: 5px solid var(--interactive-accent) !important;
}

.checkbox-container {
    background-color: var(--interactive-before);
}

.checkbox-container:after {
    background-color: var(--background-secondary-alt);
}

.mod-cta {
    color: var(--background-secondary-alt) !important;
    font-weight: 600 !important;
}

/* Highlited Button Color (Ex: Highlighted Account Buttons)*/
.mod-cta:hover {
    background-color: var(--interactive-before) !important;
    font-weight: 600 !important;
}

.CodeMirror-cursor {
    background-color: var(--vim-cursor) !important;
    opacity: 60% !important;
}

input.task-list-item-checkbox {
    border: 1px solid var(--dark4);
    appearance: none;
    -webkit-appearance: none;
}

input.task-list-item-checkbox:checked {
    background-color: var(--dark4);
    box-shadow: inset 0 0 0 2px var(--background-primary);
}

::selection {
    background-color: var(--text-selection) !important;
}

/*=========================================
FONTS: Weight, Size, Color
==========================================*/

/* Headings for Editor and Preview */
.cm-header-1, 
.markdown-preview-section h1 {
    font-weight: 400 !important;
    font-size: var(--font-size-h1) !important;
    color: var(--text-title-h1) !important;
}

.cm-header-2, 
.markdown-preview-section h2 {
    font-weight: 400 !important;
    font-size: var(--font-size-h2) !important;
    color: var(--text-title-h2) !important;
}

.cm-header-3, 
.markdown-preview-section h3 {
    font-weight: 400 !important;
    font-size: var(--font-size-h3) !important;
    color: var(--text-title-h3) !important;
}

.cm-header-4, 
.markdown-preview-section h4 {
    font-weight: 400 !important;
    font-size: var(--font-size-h4) !important;
    color: var(--text-title-h4) !important;
}

.cm-header-5, 
.cm-header-6, 
.markdown-preview-section h5, 
.markdown-preview-section h6 {
    font-weight: 400 !important;
    font-size: var(--font-size-h5) !important;
    color: var(--text-title-h5) !important;
}

/*=========================================
HIDE SOME DEFAULT ELEMENTS
==========================================*/

/* Hide Site Title in Favor of Site Logo */
.site-header-text,
.site-body-left-column-site-name {
  display: none;
}

/* Hide File Name in Favor of Title Heading */
.markdown-preview-view .page-header {
  display: none;
}

/* Hide Header Link Icon */
.publish-article-heading:hover .clickable-icon {
    display: none;
}

/* Hide Footer */
.site-footer {
    display: none;
}

/*=========================================
CUSTOM FORMATTING
==========================================*/

/* General Font Formatting */
b, strong, .cm-s-obsidian .cm-strong{
  color: var(--red) !important;
}
i, em, span.cm-em {
  color: var(--green) !important;
}
u {
  color: var(--purple) !important;
}

/* Make Mathjax Font Larger */
.MJX-TEX {
  font-size: 180%;
}

/* Shortened Url Links -- https://forum.obsidian.md/t/hide-or-truncate-urls-in-editor-using-css/359/3 */
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting) {
  font-size: 0;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting)::after {
  content: '🔗';
  font-size: 1rem;
}

/* Stylish Quotation -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/39 */
blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p { display: inline; }

blockquote {
  margin-inline-start: 0;
}

/* Bigger Link Preview -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/82 */
.popover.hover-popover {
    transform: scale(0.8); /* makes the content smaller */
    max-height: 800px;    /* was 300 */
    min-height: 100px;
    width: 500px;     /* was 400 */
}

/*=========================================
GRAPH VIEW
==========================================*/

/* Node Default Color */
.graph-view.color-circle,
.graph-view.color-fill {
color: var(--light0);
}

/* Node & Connections Highlighted Color */
.graph-view.color-fill-highlight {
  color: var(--yellow) !important;
}

.graph-view.color-line-highlight {
  color: var(--red) !important;
}

/* Text Color */
.graph-view.color-text {
  color: var(--yellow) !important;
}

/* Color of Arrow (enable it in graph settings) */
.theme-dark .graph-view.color-arrow {
  color: var(--red);
    opacity: 1;
}

/* Tag Node Color */
.theme-dark .graph-view.color-fill-tag {
  color: var(--green);
}

/* Attachment Node Color */
.theme-dark .graph-view.color-fill-attachment {
  color: var(--aqua);
}

/* Unresolved (not made but linked) Node Color */
.theme-dark .graph-view.color-fill-unresolved {
  color: var(--light0);
  opacity: 1;
}

.graph-view.color-fill {
  color: var(--purple);
  opacity: 1;
}

/* Better Bullet Points */
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-list-ul {
  color: transparent;
  position: relative;
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-list-ul:after {
  content: "•";
  position: absolute;
  top: -9px;
  left: -6px;
  color: var(--yellow);
  font-family: var(--font-monospace);
  font-size: 25px;
}