/* NOTE Opened Document (Middle Pane) */
.workspace-leaf-header-title {
    font-weight: 600;
}

.workspace-leaf-content[data-type="tag"] .tag-pane-tag-count, 
.workspace-leaf-content[data-type="tag"] .tag-pane-tag-text {  
  font-size: var(--font-size-side-dock);
}

.workspace-leaf-content[data-type="backlink"] .search-result-file-matches {
  font-size: var(--font-size-side-dock);
}