.nav-file-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-file-tag {
    color: var(--text-accent);
}

.is-active .nav-file-title {
    color: var(--text-accent);
    background-color: var(--background-primary-alt);
}

.is-collapsed .nav-folder-collapse-indicator {
    color: var(--text-accent);
}

.nav-action-button:hover {
    color: var(--text-accent);
}