@use "../_colors.scss";

input.task-list-item-checkbox {
    border: 1px solid colors.$dark4;
    appearance: none;
    -webkit-appearance: none;
}

input.task-list-item-checkbox:checked {
    background-color: colors.$dark4;
    box-shadow: inset 0 0 0 2px var(--background-primary);
}