$red: #E95678;
$yellow: #FFF27D;
$green: #689D6A;
$blue: #25B2BC;
$purple: #B877DB;
$orange: #F09383;

$light0:#FDF0ED;
$light1:#FAC29A;

$dark0: #2E303E;
$dark1: #232530;
$dark2: #1C1E26;
$dark3: #1A1C23;
$dark4: #16161C;