@import "./fonts.scss";
@import "./colors.scss";
@import "./main.scss";

@import "./modules/preview/main.scss";

@import "./modules/ui/document.scss";
@import "./modules/ui/file-drawer.scss";
@import "./modules/ui/graph.scss";
@import "./modules/ui/search.scss";
@import "./modules/ui/tree.scss";

/* NOTE Change File Name */
.markdown-preview-view .page-header {
  color: var(--text-accent);
  font-size: 28px;
}

/* NOTE Center Site Logo */
.site-header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* NOTE Hide Site Title in Favor of Site Logo */
.site-header-text,
.site-body-left-column-site-name {
  display: none;
}

/* NOTE Hide Header Link Icon */
.publish-article-heading:hover .clickable-icon {
    display: none;
}
/* NOTE Hide Footer */
.site-footer {
    display: none;
}
