@use "./_fonts.scss";
@use "./_colors.scss";
@use "./_main.scss";

@use 'preview';

@use "./ui/_document.scss";
@use "./ui/_file-drawer.scss";
@use "./ui/_graph.scss";
@use "./ui/_search.scss";
@use "./ui/_tree.scss";

/* NOTE Change File Name */
.markdown-preview-view .page-header {
  color: var(--text-accent);
  font-size: 28px;
}

/* NOTE Center Site Logo */
.site-header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* NOTE Hide Site Title in Favor of Site Logo */
.site-header-text,
.site-body-left-column-site-name {
  display: none;
}

/* NOTE Hide Header Link Icon */
.publish-article-heading:hover .clickable-icon {
    display: none;
}
/* NOTE Hide Footer */
.site-footer {
    display: none;
}
