@import "../../colors.scss";

.markdown-preview-view {
  :not(pre) > code {
    color: $light0;
    background-color: $dark2;
    border: 1px solid $dark4;
    font-family: var(---default-font);
    padding: 0.2em 0.4em;
    border-radius: 6px;
  }

  pre {
    padding: 16px;
    line-height: 1.45;

    border: 1px solid $dark4;
    border-radius: 6px;
    background-color: $dark2;
    font-family: var(---default-font);

    code {
      background-color: unset;
      color: var(--text-code);
    }
  }

  .token {
    &.keyword {
      color: $purple;
    }

    &.class-name {
      color: $yellow;
    }

    &.operator {
      color: $blue;
    }

    &.number {
      color: $orange;
    }

    &.punctuation {
      color: $light0;
    }

    &.function {
      color: $blue;
    }

    &.string {
      color: $green;
    }

    &.comment {
      color: $light0;
    }

    &.macro {
      color: $blue;
    }
  }
}
