@import "../../colors.scss";

/* NOTE Preview Tag Color */
a.tag {
  color: var(--text-link);
}
/* NOTE Preview Tag Color While Hovering */
a.tag:hover {
  color: var(--text-link);
  text-decoration: underline
}